# Fastify Server Configuration
PORT=3001
HOST=0.0.0.0
JWT_SECRET=super-secret-jwt-key-change-it-in-production

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=jdroll
DB_PASSWORD=jdroll
DB_NAME=jdroll
